.idea
.vscode

.env.development

.graphqlconfig
schema.graphql

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules

data

.DS_Store
**/ssl/*
package-lock.json
*.pem
.env.production
/server/temp/*
.vercel
